.background{
  background-color: #C2D9FF;
}

.background h1{
  font-size: 100px;
  color: #2a1e68;
  font-weight: bold;
  margin: 0;
  text-align: center;
  }
.background p.weighted{
  font-size: 70px;
  color: #7752FE;
  font-weight: bold;
  margin: 0;
  padding-bottom: 100;
  text-align: center;
}
.background p{
  font-size: 17px;
  color: #2a1e68;
  margin: 0;
  padding-bottom: 100;
    text-align: center;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  border-radius: 25px;
  position: fixed;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #C2D9FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #2a1e68;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #7752FE;
  color: whitesmoke;
}